
<%- include("partials/header") -%>



<h1>Invalid !!</h1>
<p class="lead"><b>Email Address :</b> <%= email %></p>
<p class="lead"><b>Username :</b> <%= username %></p>
<p class="lead"><%= info %></p>

<%- include("partials/footer") -%>